{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "plugins": [[
        "babel-plugin-istanbul",
        {
          "include": [
            "src"
          ],
          "exclude": [
            "dist",
            "tests"
          ]
        }
      ]]
    }
  }
}
